html{
    background-color: black;
    margin: 0;
}

.main{
    margin-left: 25%;
    margin-top: 100px;
    width: 50%;
    font-family: "Libre Baskerville", serif;
    color: white;
    text-align: center;
}
.img{
    border: 5px solid white;
    width: 100%;
}
